body {
    font-family: sans-serif;
}

header img {
    margin: 5px;
    font-size: 20px;
    border: 1px solid #EF930A;
    border-radius: 30px;
}

header {
    background-color: aquamarine;
    text-align: center;
}

footer {
    background-color: burlywood;
    color: blue;
}

nav a{
    text-decoration:wavy;
    margin: 20px;
}

nav {
    border: 3px solid rgb(50, 182, 24);
    text-align: center;
    margin: 10px;
}

main p {
    border: 1px solid firebrick;
    border-radius: 10px ;
    margin: 10px;
}

main img{
    border: 1px solid blue;
    border-radius: 15px ;
}
